Vagrant.configure("2") do |config|
    config.vm.provider "hyperv" do |hv|
        hv.enable_enhanced_session_mode = true

        hv.vm_integration_services = {
            guest_service_interface: true
        }
    end
end
